@import "reset.css";

.homeBtn {
	height: 10%;
	width: 60%;
	margin: 2rem;
	border-radius: 10rem !important;
}

.pictureBtn {
  font-weight: 700 !important; 
  width: 7rem !important;
  font-size: 3rem !important;
  color: gray !important;
  box-shadow: 1px 1px 1px 1px !important;
}

.container-ct {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper {
	position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.control-style {
	position: fixed;
  display: flex;
  right: 0;
  width: 20%;
  min-width: 130px;
  min-height: 130px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: column-reverse;

  @media (max-aspect-ratio: 1/1) {
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 20%;
  }
  @media (max-width: 400px) {
    padding: 10px;
  }
}
.kJXsYC {
	width: 100vw !important;
	height: 100vh !important;
	position: absolute;
}
.ad-banner {
  width: 320px;
}
.firstcolor {
	background-color: #D5A7E8;
}
.secondcolor {
	background-color: #C4D1FF;
}
.thirdcolor {
	background-color: #A7E8E0;
}
.face-btn {
	/* background-color: red; */
	border: 2px solid white;
	width: 70vw;
	height: 35%;
	color: white;
  font-size: 1.3rem;
  border-radius: 15px;
	/* color: #fff; */
}
.face-btn:hover {
	border-color: white;
	color: white;
}
.loading span {
  display: inline-block;
  margin: 0.1rem;
  animation: loading 1.3s infinite;
}
.loading span:nth-child(2) {
  animation-delay: .1s;
}
.loading span:nth-child(3) {
  animation-delay: .2s;
}
.loading span:nth-child(4) {
  animation-delay: .3s;
}
.loading span:nth-child(5) {
  animation-delay: .4s;
}
.loading span:nth-child(6) {
  animation-delay: .5s;
}
.loading span:nth-child(7) {
  animation-delay: .7s;
}
.loading span:nth-child(8) {
  animation-delay: .8s;
}
.loading span:nth-child(9) {
  animation-delay: .9s;
}
.loading span:nth-child(10) {
  animation-delay: 1s;
}
.loading span:nth-child(11) {
  animation-delay: 1.1s;
}
.loading span:nth-child(12) {
  animation-delay: 1.2s;
}
.loading span:nth-child(13) {
  animation-delay: 1.3s;
}
@keyframes loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.ment {
	font-size: 1.2rem;
	/* color: red; */
	margin: 2rem;
	font-family: sunflower, sans-serif;
	word-break: keep-all;
	max-width: 70vw;
}